<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mp-portada","layout":{"type":"constrained"}} -->
<main class="wp-block-group mp-portada">
<!-- wp:pattern {"slug":"museopostal/portada-hero"} /-->

<!-- wp:pattern {"slug":"museopostal/portada-puertas"} /-->

<!-- wp:columns {"align":"wide","className":"mp-portada__vitrinas"} -->
<div class="wp-block-columns alignwide mp-portada__vitrinas">
<!-- wp:column {"width":"60%"} -->
<div class="wp-block-column" style="flex-basis:60%">
<!-- wp:pattern {"slug":"museopostal/portada-efemeride"} /-->
</div>
<!-- /wp:column -->

<!-- wp:column {"width":"40%"} -->
<div class="wp-block-column" style="flex-basis:40%">
<!-- wp:pattern {"slug":"museopostal/portada-cifras"} /-->
</div>
<!-- /wp:column -->
</div>
<!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
