<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mp-sala","layout":{"type":"constrained"}} -->
<main class="wp-block-group mp-sala">
<!-- wp:museopostal/sala-cabecera /-->

<!-- wp:pattern {"slug":"museopostal/sala-intro"} /-->

<!-- wp:heading -->
<h2 class="wp-block-heading">Piezas de la sala</h2>
<!-- /wp:heading -->

<!-- wp:pattern {"slug":"museopostal/rejilla-piezas"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
